body{
    margin-top: 10%;
    text-align: center;
    background-image: url(https://cdn4.vectorstock.com/i/1000x1000/46/53/cartoon-sun-and-clouds-sky-isolated-icon-design-vector-34114653.jpg);
}

.botoes{
    margin-top: 10px;
}