body{
    display: flex;
    justify-content: center;
    text-align: center;
    background-image: url(https://cdn4.vectorstock.com/i/1000x1000/46/53/cartoon-sun-and-clouds-sky-isolated-icon-design-vector-34114653.jpg);

}

.botoes{
    margin-top: 10px;
    
}
.stylebotao{
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    justify-content:space-between;

}

legend{
    padding: 10px 25px;
}

fieldset{

border-color: rgb(228, 226, 226);
border-radius: 50px;
padding: 0 60px 40px 60px ;
margin-top: 10%;
}
p{
    font-style: italic;
}